@import '../../styles/variablex';
@import '../../styles/mixins';
.#{$classPrefix} {
  &__input {
    $suffix: #{&}__suffix;
    $inner: #{&}__inner;

    display: flex;
    position: relative;

    #{$inner} {
      -webkit-appearance: none;
      background-color: #fff;
      background-image: none;
      border-radius: 4px;
      border: 1px solid #dcdfe6;
      box-sizing: border-box;
      color: #606266;
      display: inline-block;
      font-size: inherit;
      height: 40px;
      line-height: 1;
      outline: none;
      padding: 0 15px;
      transition: border cubic-bezier(0.38, 0, 0.24, 1) 0.4s;
      width: 100%;
      &:focus {
        transition: border cubic-bezier(0.38, 0, 0.24, 1) 0.4s;
        border-color: $primary;
      }

      &#{$suffix} {
        padding-right: 30px;
        text-align: center;
      }
    }

    #{$suffix} {
      color: #dcdfe6;
      position: absolute;
      right: 5px;
      height: 100%;
    }
  }
}
