@import '../../styles/variablex';
@import '../../styles/mixins';

.#{$classPrefix} {
  &__button {
    padding: $btn-padding-y $btn-padding-x;
    border: none;
    outline: none;
    font-size: $btn-font-size;
    font-weight: $font-weight-normal;
    display: inline-block;
    margin: 0 2px;
    touch-action: manipulation;
    vertical-align: middle;
    transform: all 0.3s;
    color: $text-muted;

    // 自定义的classname
    $button_text: #{&}__text;

    &:hover {
      opacity: 0.95;
      transition: 0.15 ease-in-out;
    }

    &#{&}--disabled,
    &[disabled] {
      opacity: 0.3;
      cursor: not-allowed;
    }

    &--shape {
      &--default {
        border-radius: $border-radius;
      }

      &--round {
        border-radius: $border-radius * 1.5;
      }

      &--circle {
        border-radius: 50%;
      }
    }

    &--theme {
      &--default {
        span#{$button_text} {
          color: $text-muted;
        }
      }
      &--primary {
        background-color: $primary;
        border-color: $primary;
        #{$button_text} {
          color: $primary;
        }
      }
      &--warning {
        background: $warning;
        border-color: $warning;
        #{$button_text} {
          color: $warning;
        }
      }

      &--danger {
        background: $danger;
        border-color: $danger;
        #{$button_text} {
          color: $danger;
        }
      }

      &--success {
        background: $success;
        border-color: $success;
        #{$button_text} {
          color: $success;
        }
      }
    }

    &--variant {
      &--default {
        #{$button_text} {
          color: $white;
        }
      }
      &--outline {
        border-width: 1px;
        border-style: solid;
        background-color: transparent;
      }

      &--dashed {
        border-width: 1px;
        border-style: dashed;
        background-color: transparent;
      }

      &--text {
        border-style: none;
        background-color: transparent;
        color: $text-muted;
      }
    }

    &--sm {
      padding: $btn-padding-y-sm $btn-padding-x-sm;
      border-radius: $border-radius-sm;
    }

    &--lg {
      padding: $btn-padding-y-lg $btn-padding-x-lg;
      border-radius: $border-radius-lg;
    }

    &--full {
      display: block;
      width: 100%;
    }
  }
}

// .wei__button.wei__button--disabled {
//   opacity: 0.3;
// }
