$white: #fff !default; // scss使用的默认属性
$gray-100:#f3f3f3 !default;
$gray-200:#f3f3f3 !default;
$gray-300:#f3f3f3 !default;
$gray-400:#f3f3f3 !default;
$gray-500:#f3f3f3 !default;
$gray-600:#f3f3f3 !default;
$gray-700:#f3f3f3 !default;
$gray-800:#f3f3f3 !default;
$gray-900:#f3f3f3 !default;