// .box {
//   width: 500px;
//   height: 500px;
//   border: 1px solid yellowgreen;

//  text-align: center;
// display: flex;
// justify-content: center;
// align-items: center;
//   &::before {
//     content: '';
//     display: inline-block;
//     height: 100%;
//     vertical-align: middle;
//     background: #000;
//     margin: auto;
//   }

// }

// .item {
//   width: 100px;
//   height: 100px;
//   background: salmon;
//   vertical-align: middle;
//   margin: 0 auto;
//   display: inline-block;
// }

.box {
  width: 500px;
  height: 500px;
  border: 1px solid yellowgreen;
  position: relative;
}

.item {
  width: 100px;
  height: 100px;
  position: absolute;
  background: sandybrown;
  left: calc(50% - 50px);
  top: calc(50% - 50px);

}